<?xml version='1.0' encoding='utf-8'?>
<widget 
    id="com.example.whichgift" 
    version="0.0.1" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>WhichGift</name>
    <description>
        The Best solution for the Perfect Gift.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />



<!-- ALL PLATFORMS -->  
    <icon src="res/icon.png" />
    <splash src="res/splash-hdpi.png" />
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="2000" />


<!-- ANDROID -->
    <platform name="android">
        
    </platform>



<!-- IOS -->
    <platform name="ios">
        <preference name="StatusBarOverlaysWebview" value="false" />
        <preference name="StatusBarBackgroundColor" value="#23c7d2" />
    </platform>
</widget>
