/* CSS Document */

html { 
  background: url(img/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*body {
	background: #23c8d3 url("img/bg.png"); center center no-repeat;
	background-size:cover;
	margin:0;}
*/

header { 
	position: absolute; 
	top:0;}

/*
h1{
	font-family:'Source Sans Pro', sans-serif;;
	font-size:12px;
	font-weight:700;
	color:#FFFFFF;
	text-align:center;}


h4{
	font-family:'Source Sans Pro', sans-serif;;
	font-size:12px;
	font-weight:700;
	color:#DDDDDD;
	text-align:center;}


p{
	font-family:'Source Sans Pro', sans-serif;
	font-weight: 300px;
	font-size:14px;
	color:#bef4ec;
	border-style: none; 
	border-color:#a86b80;
	text-align:center;}
*/


.logoParent {
	height:50%;
	position: fixed;
	top:0px;
	width: 100%;

}


.logoChild {
	position: relative;
	top:50%;
	transform:translateY(-50%);
}



.logoChild img {
	display: block;
	margin-right: auto;
	margin-left:auto;
	margin-bottom: 30px;}


/*
    margin: 0 auto;}

	bottom: 0;
    height: 30px;  forces #testmenu to the bottom */

 .bottomParent {
    position:fixed;
    bottom:0px;
    width:100%;
	height:49%;}


.bottomChild {
	position: relative;
	top:50%;
	transform:translateY(-50%);
}


.bottomChild button{
	font-family:"MankSans-Medium", Helvetica, sans-serif;
	font-weight: 200;
	font-size: 23px;

    color: white;
	background-color: transparent;

    display:block;
	position: relative;

	border: 1px solid;
	border-color: white;
	border-radius: 10px;
	
    width: 400px;
    height: 60px;
    margin: 30px auto;}


.termos {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;}


.termos p{
	text-align: center;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 12px;
	line-height: 12px;
	color:#394c6f;}


.followButton {
	position: absolute;
	bottom:0;
	width:100%;
	border:1px solid;}

.followButton button {
	font-family:"MankSans-Medium", Helvetica, sans-serif;
	font-weight: 200;
	font-size: 23px;
	text-transform: uppercase;
	letter-spacing: 1px;

    color: white;
	background-color: transparent;

    display:block;
	position: relative;

	background: #143c80;
	border:0;
	border-radius: 10px;
	
    width: 400px;
    height: 60px;
    margin: auto;}

.followButton img {
	display: block;
	position:relative;
	top:-47px;
	right:-120px;
	margin:auto;}


.catFatherDiv {
	height:80%;
}
.motherCat{
	font-family:"MankSans-Medium", Helvetica, sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 1px;
	display:inline;
	color:#e4e4e4;
}

.cat{
	font-family:"MankSans-Medium", Helvetica, sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 1px;
	display:inline;
	color:#e4e4e4;
}


@font-face{
	font-family: "MankSans-Medium";
	src: url("fonts/MankSans-Medium.ttf");
	font-stretch: ultra-expanded;
	font-weight: bold;