 .ui-mobile .ui-page-active {
 	display: block;
 	overflow: hidden;
	overflow-x: auto;
}

.ui-footer .ui-title {
 	letter-spacing: 0px;
}

.ui-corner-all > .ui-content:first-child {
	letter-spacing: 0px;
}

.ui-slider-input {
	border: 0px solid #16a085 !important;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */


    /* please use this in the body tag of your HTML...i have fixed the bouncing and rubber band effects.
    http://stackoverflow.com/questions/15126629/prevent-scrolling-out-of-cordovaview-in-cordova-for-windows-phone-8 */
 	backface-visibility:hidden;
 	-webkit-backface-visibility:hidden;
  	overflow: hidden;
 	-ms-content-zooming: none;
 	-ms-touch-action:none;
}

html .ui-body-a,html .ui-page-theme-a .ui-body-inherit,html .ui-bar-a .ui-body-inherit,html .ui-body-a .ui-body-inherit,html body .ui-group-theme-a .ui-body-inherit,html .ui-panel-page-container-a{background:#fff;border-color:#2c3e50;color:yellow}
html .ui-overlay-a,html .ui-page-theme-a,html .ui-page-theme-a .ui-panel-wrapper{background:#f9f9f9;border-color:#bbb;color:#89dbd7}

html .ui-bar-b,html .ui-bar-b .ui-bar-inherit,html .ui-body-b .ui-bar-inherit,html body .ui-group-theme-b .ui-bar-inherit{background:#16a085;border-color:#16a085;color:#fff;font-weight:bold}
html .ui-page-theme-b .ui-bar-inherit {background:#16a085;border-color:#16a085;color:#fff;font-weight:bold}

/* ===== ED'S BACKGROUND ===== */
html .ui-overlay-b,html .ui-page-theme-b,html .ui-page-theme-b .ui-panel-wrapper{background: url(../img/bg.jpg) no-repeat center center fixed;border-color:#bbb; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

html .ui-body-b,html .ui-page-theme-b .ui-body-inherit,html .ui-bar-b .ui-body-inherit,html .ui-body-b .ui-body-inherit,html body .ui-group-theme-b .ui-body-inherit,html .ui-panel-page-container-b{background:#16a085;border:0px;color:#fff;	box-shadow: 0 2px 0 darkslategray;}
html .ui-page-theme-b .ui-btn,html .ui-bar-b .ui-btn,html .ui-body-b .ui-btn,html body .ui-group-theme-b .ui-btn,html body .ui-btn.ui-btn-b,html .ui-page-theme-b .ui-btn:visited,html .ui-bar-b .ui-btn:visited,html .ui-body-b .ui-btn:visited,html body .ui-group-theme-b .ui-btn:visited,html body .ui-btn.ui-btn-b:visited{background:#16a085;border-color:#16a085;color:#fff;}
html .ui-page-theme-b .ui-btn.ui-btn-active,html .ui-bar-b .ui-btn.ui-btn-active,html .ui-body-b .ui-btn.ui-btn-active,html body .ui-group-theme-b .ui-btn.ui-btn-active,html body .ui-btn.ui-btn-b.ui-btn-active,html .ui-page-theme-b .ui-flipswitch-active,html .ui-bar-b .ui-flipswitch-active,html .ui-body-b .ui-flipswitch-active,html body .ui-group-theme-b .ui-flipswitch-active,html body .ui-flipswitch.ui-bar-b.ui-flipswitch-active{background-color:#1abc9c;border-color:#1abc9c;color:#fff}

/* Ed's Rangeslider */
html .ui-page-theme-b .ed-rangeSlider .ui-slider-track .ui-btn-active,html .ui-bar-b .ui-slider-track .ui-btn-active,html .ui-body-b .ui-slider-track .ui-btn-active,html body .ui-group-theme-b .ui-slider-track .ui-btn-active,html body div.ui-slider-track.ui-body-b .ui-btn-active{background-color:#16a085;border-color:red;color:#fff}
html .ui-page-theme-b .ed-rangeSlider .ui-bar-inherit .ui-slider-track{background:blue;border-color:#16a085;color:#fff;font-weight:bold}
html .ui-page-theme-b .ed-rangeSlider .ui-bar-inherit {background:#bbb;border-color:#16a085;color:#fff;font-weight:bold;}

/* Ed's Categories */
#ed-categories form { width:1000px;}
#ed-categories input[type=checkbox] {position: absolute; top:-9999px; left:-9999px;}
#ed-categories .ui-btn, #ed-categories label.ui-btn{font-family: Lato; font-weight: 900; font-size: 40px; text-transform: uppercase;border:0px;margin:0px;padding: 0px 8px;background:transparent;color:#16a085;}
#ed-categories .ui-btn:hover,#ed-categories .ui-bar-b .ui-btn:hover,#ed-categories .ui-body-b .ui-btn:hover,#ed-categories body .ui-group-theme-b .ui-btn:hover,#ed-categories body .ui-btn.ui-btn-b:hover{color:#16a085;background:transparent}
#ed-categories .ui-btn:active,#ed-categories .ui-bar-b .ui-btn:active,#ed-categories .ui-body-b .ui-btn:active,#ed-categories body .ui-group-theme-b .ui-btn:active,#ed-categories body .ui-btn.ui-btn-b:active{color:#16a085;background:transparent}
#ed-categories .ui-btn.ui-btn-active,#ed-categories .ui-bar-b .ui-btn.ui-btn-active,#ed-categories .ui-body-b .ui-btn.ui-btn-active,#ed-categories body .ui-group-theme-b .ui-btn.ui-btn-active,#ed-categories body .ui-btn.ui-btn-b.ui-btn-active,#ed-categories .ui-page-theme-b .ui-flipswitch-active,#ed-categories .ui-bar-b .ui-flipswitch-active,#ed-categories .ui-body-b .ui-flipswitch-active,#ed-categories body .ui-group-theme-b .ui-flipswitch-active,#ed-categories body .ui-flipswitch.ui-bar-b.ui-flipswitch-active{color:#b6e8b5; background: transparent;}
#ed-categories .ui-checkbox-on:after,#ed-categories .ui-bar-b .ui-checkbox-on:after,#ed-categories .ui-body-b .ui-checkbox-on:after,#ed-categories body .ui-group-theme-b .ui-checkbox-on:after,#ed-categories .ui-btn.ui-checkbox-on.ui-btn-b:after,#ed-categories background-color: primary_color{color:pink}
#ed-categories fieldset, #ed-categories .ui-controlgroup-horizontal{margin:0px;height:52px;overflow-y: hidden}
#ed-categories input, #ed-categories select, #ed-categories textarea{font-size: 1em;line-height: 1.3;margin: 0px}

/* para jTinder funcionar:  #gift.ui-page {display: inline;}    */
#gift{
	height:90%;
}

html .ui-content h2 {font-size: 18px; text-align: center;margin-top:0px;margin-bottom: 10px}
html .ui-content #descricao {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.findGiftsDiv {
  height: 80px;
	bottom: 30px;
	z-index: 3;
  position:fixed;
  display:block;
  width: 88%;
}

#findGiftsBt {
	/*background: #31609f url(../img/icon_bt.png) no-repeat center center;
  height: 50px;
  width: 42px;
  border-radius: 50px;
  margin: auto auto;*/
  background: #31609f;
	border:0px;
	box-shadow: 0 2px 0 #214071;


}

input #longButton {
	text-align: center;
	background-color: #31609f;
	border:0px;
	box-shadow: 0 2px 0 #214071;
}

html .ui-page-theme-b #ed-lowInfo {
	position:fixed;
	bottom:0px;
	height:30px;
	width:100%;
}

#ed-lowInfo a{
	color:#31609f;
	text-decoration: none;
	font-size: 12px;
	margin-right:26px;
	margin-left:26px;
}

#fullWidth .ui-controlgroup-controls {width: 100%;}
#fullWidth .ui-radio {width: 33.3333%;}
#fullWidth label {
	text-align: center;
	padding-left:5px;
	padding-right: 5px;
	box-shadow: 0 2px 0 darkslategray;}

#especificacoes{
	border:1px solid rgba(100,200,150,0.65);
	border-radius: 10px;
	padding:10px;
}

#select-native-1 ui-btn{
	box-shadow: 0 2px 0 pink;
}

.ui-select .ui-btn select{
  box-shadow: 0 2px 0 darkslategray;
}

#cat, #ed-categories{
	overflow: auto; /*visible, hidden, scroll or auto */
}

#feedback.ui-body-b,html #feedback.ui-page-theme-b .ui-body-inherit,html #feedback.ui-bar-b .ui-body-inherit,html #feedback.ui-body-b .ui-body-inherit,html body #feedback.ui-group-theme-b .ui-body-inherit,html #feedback.ui-panel-page-container-b{background:#27c5ad;border:0px;color:#fff; box-shadow: 0 2px 0 darkslategray;}
#feedback .ui-input-text {border:2px solid #16a085 !important;}
#feedback textarea {height: 100% !important;}
::-webkit-input-placeholder {color: #12856D;}
:-moz-placeholder {color: #12856D;}
::-moz-placeholder {color: #12856D;}
:-ms-input-placeholder {color: #12856D;}

.winCentered{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#loadingGifts{
	width: 256px;
	height: 256px;
}

#swipeGif{
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0px 0;
    width:80%;
}

#termos{
    background-color: rgba(0,0,0,0.7);
}

#termos embed{
    height: 400px;
}

html .ui-page-theme-b .longBtn, html .ui-page-theme-b .longBtn:focus, html .ui-page-theme-b .longBtn:active, html .ui-page-theme-b .longBtn:visited, html .ui-page-theme-b .longBtn:hover {
  background-color: #31609f;
  border:0px;
  box-shadow: 0 2px 0 #214071;
}


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'),
    local('Lato-Regular'),
    url(../fonts/lato-regular.woff) format('woff'),
    url(../fonts/lato-regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'),
    local('Lato-Bold'),
    url(../fonts/lato-bold.woff) format('woff'),
    url(../fonts/lato-bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'),
    local('Lato-Black'),
    url(../fonts/lato-black.woff) format('woff'),
    url(../fonts/lato-black.ttf) format('truetype');
}
